<header class="c-page__header">
    <img src="/logo.png">

    {% if page.title == 'Home' %}
        <h1>{{ site.description }}</h1>
    {% endif %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Home 🏠</a><span
          class="u-separate"></span> <a href="{{ "/about/" | prepend:
          site.baseurl }}">About 🤓</a><span class="u-separate"></span> <a href="{{ "/listen/" | prepend: site.baseurl }}">Listen 📻</a><span class="u-separate"></span><a href="https://discord.gg/hECzBJh" target="blank">Join Discord 💬</a><span class="u-separate"></span><a href="https://goo.gl/forms/g0OiCS9ltnKmUjEv2" target="blank">Give Feedback 📥</a><span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS ⚛️</a>
    </p>
</header>
